.popup-prev,
.popup-next {
    color: var(--light-gray);
    font-size: 30px;
    background-color: red;
    border: 1px blue;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


/*MOBILE*/

.popup-gallery {
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    max-height: 290px;
    height: 100%;
}



.content-card {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
}

.content-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}