.popup-prev,
.popup-next {
    color: var(--light-gray);
    font-size: 30px;
    background-color: red;
    border: 1px blue;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


/*MOBILE*/

.popup-gallery {
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    max-height: 290px;
    height: 100%;
}