.avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--eerie-black-1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.avatar-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Agar gambar menyesuaikan tanpa terdistorsi */
}